body {
    /* Old browsers */
    background: #c1e8f1;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #c6f6f8, #f1457f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #cfe0f3, #f59a97);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #12a14977;
    background-color: #FFF;
    font-family: 'Arial Black';
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    width: 100%;
  }
  
  h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(36, 140, 238, 0.5);
    font-family: Cambria;
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
  }
  
  p {
    color: aliceblue;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.3em;
    text-align: justify;
    width: 100%;

  
 
  
 