<!DOCTYPE html>
<html>
    <head>
        <title> Build Your Meals</title>
        <link rel="stylesheet" href="styletemplate.css"
    </head>

    <body> 
        <nav class="navigation">
            <ul>
              <li><a href="standard">Standard Meal</a></li>
              <li><a href="custom">Custom Structured Meal</a></li>
              <li><a href="custom">Your Meal Build </a></li>
            </ul>
        </nav>

        <h1>Welcome to the Meal Planner!</h1>

        <p>I can take the headache out of deciding what to cook. You may choose how you want me to generate 
            your meal. 
            <ul>
            <li> Standard Meals - these meals consist of a protein, two sides and a vegetable</li>
            <li> Different Meal Arrangement - you choose how many sides and vegetables you wish to include in your meal</li>
            <li> Your Build - input your items of choice for each of the different categories and the 
                structure of your meals. Meals will then be generated based on this</li>
            </ul>   
            So go ahead, choose the meal generator of your choice in the navigation bar. </p>
    </body>
</html>